#loginpage{
  background-image: url("./1.png");
  background-size: cover;
  background-position: center;
}

img{
    max-width: 100%;
    height: auto;
}

.hidden{
    display: none;
}

.Inter {
  font-family: "Inter Tight";
}
